<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h2>Gérer vous Employees </h2>
    <div>
       <% if (locals.flash) { %>
        <% console.log(locals.flash) %> 
         <% if (locals.flash[0]) { %>
          <h3 id="valide"><%= locals.flash[1]  %> </h3>
         <% } %>
         <% if (!locals.flash[0]) { %>
         <h3 id="error"><%= locals.flash[1] %> </h3>
         <% } %>
       <% } %>
      
    
    </div>    
    <div>
    <a href="ajouter">Ajouter</a>

    </div>
    <table>
        <thead>
            <tr>
              
                <th> nom </th>
                <th>
                    prénom
                </th>
                <th>
                    poste
                </th>
                <th>
                    salaire
                </th>
                <th>
                    date d'embauche 
                </th>
                <th>
                    email 
                </th>
            </tr>
            
        </thead>
        <tbody>
            
                   <% es.forEach(element => { %>
                    <tr><td><%= element.firstname %> </td>
                        <td><%= element.lastname %> </td>
                        <td><%= element.post %> </td>
                        <td><%= element.salary %> </td>
                        <td><%= element.hiring_date %> </td>
                        <td><%= element.email %> </td>
                        <td><a href="index/supprimer/<%= element.id %> ">Spprimer</a></td>
                        <td><a href="editer/<%= element.id %> "> Editer</a></td>
                    </tr>
                    
                    <% }) %>
           
        </tbody>
    </table>
</body>
</html>